<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>moneyJar00000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,106}</string>
				<key>spriteSourceSize</key>
				<string>{96,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{106,326},{96,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{94,106}</string>
				<key>spriteSourceSize</key>
				<string>{94,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{300,326},{94,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{106,2},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{210,2},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{314,2},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,110},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{106,110},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{210,110},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{314,110},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,218},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{106,218},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{210,218},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{314,218},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar30012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,326},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moneyJar20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{94,106}</string>
				<key>spriteSourceSize</key>
				<string>{94,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{204,326},{94,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Money_jar.png</string>
				<key>textureFileName</key>
				<string>Money_jar</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
