<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>monster009_DELIVER0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,2},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,2},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,2},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,2},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,2},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,78},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,78},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,78},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,78},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,78},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,78},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,154},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,154},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,154},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,154},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,154},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,154},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,230},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,230},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,230},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,230},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,230},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,230},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,154},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,306},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,306},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,306},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,306},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DELIVER0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,74}</string>
				<key>spriteSourceSize</key>
				<string>{72,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,306},{72,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DRAG0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,306},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DRAG0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,380},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DRAG0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,382},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DRAG0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,382},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_DRAG0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,306},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,382},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,382},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,382},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,454},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,456},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,456},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,456},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,456},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,456},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,528},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,530},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,530},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,530},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,530},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,530},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,602},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,604},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,604},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,604},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,604},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,604},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,676},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_IDLE0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,382},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,678},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,750},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,750},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,750},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,750},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,750},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,750},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,750},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,750},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,750},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,752},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,752},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,752},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,752},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,752},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{72,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,826},{72,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{76,826},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{150,826},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,826},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster009_RELEASE0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{224,826},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{449,900}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Monster009.png</string>
				<key>textureFileName</key>
				<string>Monster009</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
