<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client009_EXPLODING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_EXPLODING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,212},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_EXPLODING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,422},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_EXPLODING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,632},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_EXPLODING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,842},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_EXPLODING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{157,2},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_EXPLODING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_EXPLODING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_EXPLODING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{157,212},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{157,422},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{157,632},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{157,842},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,2},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_RECEIVING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{157,422},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{157,212},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{522,2},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_RECEIVING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{732,2},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_RECEIVING0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{942,2},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_RECEIVING0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1152,2},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_RECEIVING0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,157},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,367},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,577},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,787},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,997},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_RECEIVING0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{467,157},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{467,367},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{467,577},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{467,787},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{522,997},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_RECEIVING0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{622,157},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_RECEIVING0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{622,312},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{622,522},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_RECEIVING0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{622,732},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_WAITING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{732,942},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_WAITING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{777,312},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_WAITING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{832,157},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_WAITING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{777,467},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_WAITING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{777,677},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_WAITING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{887,887},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_WAITING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{932,467},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_WAITING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{987,312},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_WAITING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1042,157},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_WAITING0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{932,677},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_WAITING0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1042,887},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_WAITING0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{208,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1087,467},{208,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client009_WAITING0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1087,622},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_WAITING0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1197,832},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client009_WAITING0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{153,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,153}</string>
				<key>spriteSourceSize</key>
				<string>{153,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1242,622},{153,208}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1403,1156}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Client009.png</string>
				<key>textureFileName</key>
				<string>Client009</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
