<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client001_ANXIOUS0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_ANXIOUS0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,2},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_ANXIOUS0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,2},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_ANXIOUS0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,2},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_ANXIOUS0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,2},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_ANXIOUS0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,2},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_ANXIOUS0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,171},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_ANXIOUS0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,171},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_ANXIOUS0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,171},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_EXPLODING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,171},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_EXPLODING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,171},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_EXPLODING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,171},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_EXPLODING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,340},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_EXPLODING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,340},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_EXPLODING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,340},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_EXPLODING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,340},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_EXPLODING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,340},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_EXPLODING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,340},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,509},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,509},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,509},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,509},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,509},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,509},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,509},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,678},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,678},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,509},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,509},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,678},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,509},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,678},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,678},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,678},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,1016},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,1016},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,1016},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,1016},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_RECEIVING0039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,847},{161,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_STRESSED0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{160,167}</string>
				<key>spriteSourceSize</key>
				<string>{160,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,1185},{160,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_STRESSED0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-7,7},{167,160}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{160,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,160}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{490,1352},{167,160}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client001_STRESSED0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-7,7},{167,160}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{160,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,160}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{659,1352},{167,160}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client001_STRESSED0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-7,7},{167,160}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{160,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,160}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,1353},{167,160}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client001_WAITING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,1016},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_WAITING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,1016},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_WAITING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,1016},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_WAITING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,1184},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_WAITING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,1184},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_WAITING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,1184},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_WAITING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{817,1184},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_WAITING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,1185},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_WAITING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,1185},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client001_WAITING0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,1016},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{980,1520}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Client001.png</string>
				<key>textureFileName</key>
				<string>Client001</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
