<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client002_ANXIOUS0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_ANXIOUS0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{171,2},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_ANXIOUS0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{340,2},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_ANXIOUS0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{509,2},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_ANXIOUS0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{678,2},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_ANXIOUS0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{847,2},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_ANXIOUS0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,165},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_ANXIOUS0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{171,165},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_ANXIOUS0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{340,165},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_EXPLODING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{509,491},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_EXPLODING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{677,491},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_EXPLODING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{845,491},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_EXPLODING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,654},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_EXPLODING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{170,654},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_EXPLODING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{338,654},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_EXPLODING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{506,654},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{674,654},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{842,654},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,817},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,985},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,1153},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,1321},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,1489},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,1657},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,817},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,985},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,1153},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,1321},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,1489},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{170,1657},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{338,817},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{506,817},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{674,817},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{842,817},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,980},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,1148},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,1316},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,1484},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{338,1652},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,3},{166,163}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,163}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{501,980},{166,163}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{669,980},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{837,980},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,1143},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,1311},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,1479},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{501,1647},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{664,1143},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{832,1143},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,1306},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,1474},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{664,1642},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{827,1306},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{674,817},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-5,5},{166,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{166,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{842,817},{166,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_RECEIVING0038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,980},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_RECEIVING0039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,166}</string>
				<key>spriteSourceSize</key>
				<string>{161,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{328,1148},{161,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client002_STRESSED0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{509,165},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_STRESSED0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{678,165},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_STRESSED0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{847,165},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_STRESSED0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,328},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_WAITING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{171,328},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_WAITING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{340,328},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_WAITING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{509,328},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_WAITING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{678,328},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_WAITING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{847,328},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_WAITING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{847,328},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_WAITING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,491},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_WAITING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{171,491},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_WAITING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{340,491},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>client002_WAITING0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-6,6},{167,161}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,167}</string>
				<key>spriteSourceSize</key>
				<string>{167,161}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{171,328},{167,161}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1020,1820}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Client002.png</string>
				<key>textureFileName</key>
				<string>Client002</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
