<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client008_EXPLODING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,114}</string>
				<key>spriteSourceSize</key>
				<string>{133,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{137,704},{133,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_EXPLODING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,114}</string>
				<key>spriteSourceSize</key>
				<string>{133,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{272,704},{133,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_EXPLODING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,114}</string>
				<key>spriteSourceSize</key>
				<string>{133,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{407,704},{133,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_EXPLODING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,114}</string>
				<key>spriteSourceSize</key>
				<string>{133,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{542,704},{133,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_EXPLODING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,114}</string>
				<key>spriteSourceSize</key>
				<string>{133,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{677,704},{133,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_EXPLODING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,114}</string>
				<key>spriteSourceSize</key>
				<string>{133,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{812,704},{133,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_EXPLODING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,114}</string>
				<key>spriteSourceSize</key>
				<string>{133,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{137,820},{133,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_EXPLODING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,114}</string>
				<key>spriteSourceSize</key>
				<string>{133,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{272,820},{133,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_EXPLODING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,114}</string>
				<key>spriteSourceSize</key>
				<string>{133,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{407,820},{133,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{137,2},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{272,2},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{407,2},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{542,2},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{677,2},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{812,2},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,119},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{137,119},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{272,119},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{407,119},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{542,119},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{677,119},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{812,119},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,236},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{137,236},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{272,236},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{407,236},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{542,236},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{677,236},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{812,236},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,353},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{137,353},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{272,353},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{407,353},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{542,353},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{677,353},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{812,353},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,470},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_RECEIVING0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{137,470},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{272,470},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{407,470},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{542,470},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{677,470},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{812,470},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,587},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{137,587},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{272,587},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{407,587},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{542,587},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{677,587},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{812,587},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>client008_WAITING0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,115}</string>
				<key>spriteSourceSize</key>
				<string>{133,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,704},{133,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{950,940}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Client008.png</string>
				<key>textureFileName</key>
				<string>Client008</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
