<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>monster003_DELIVER0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,168},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,251},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,334},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,168},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,500},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{85,2},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,2},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,2},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{334,2},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{85,2},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,2},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,168},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,251},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,334},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{500,2},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{85,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,251},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{85,168},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{85,251},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{85,334},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{85,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{85,500},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{334,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{500,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{85,500},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{500,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{85,500},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DELIVER0039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{334,85},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DRAG0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,168},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DRAG0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,251},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DRAG0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,334},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DRAG0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DRAG0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,500},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DRAG0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,168},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_DRAG0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{168,168},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_IDLE0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{334,168},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_IDLE0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,168},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_IDLE0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{500,168},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_IDLE0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,251},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_IDLE0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,334},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_IDLE0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_IDLE0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,500},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_IDLE0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{334,251},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_IDLE0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,251},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_IDLE0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{500,251},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{334,334},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{334,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{334,500},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,334},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{500,334},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster003_RELEASE0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,417},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{600,590}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Monster003.png</string>
				<key>textureFileName</key>
				<string>Monster003</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
