<div class="cool-background"></div>
<header class="site-header">
<div class="content">
	
	<div class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>
	
	<nav class="site-menu">
		<a href="#" class="menu-icon">
			<img alt="Menu" src="{{ site.baseurl }}/images/menu_icon.png" />
		</a>
		<ul class="menu-items">
			<li><a href="{{ site.baseurl }}/"><p>home</p></a></li>
			<li><a href="{{ site.baseurl }}/games"><p>games</p></a></li>
			<li><a href="{{ site.baseurl }}/blog"><p>blog</p></a></li>
			<li><a href="{{ site.baseurl }}/podcasts"><p>podcast archive</p></a></li>
		</ul>
	</nav>
	
</div>
</header>
<div class="space-corrector"></div>
