<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>euphoricEye0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,44}</string>
				<key>spriteSourceSize</key>
				<string>{56,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{56,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>euphoricEye0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,44}</string>
				<key>spriteSourceSize</key>
				<string>{56,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{60,2},{56,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>euphoricEye0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,44}</string>
				<key>spriteSourceSize</key>
				<string>{56,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,48},{56,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>euphoricEye0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,44}</string>
				<key>spriteSourceSize</key>
				<string>{56,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{60,48},{56,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>euphoricEye0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,44}</string>
				<key>spriteSourceSize</key>
				<string>{56,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,94},{56,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>euphoricEye0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,44}</string>
				<key>spriteSourceSize</key>
				<string>{56,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{60,94},{56,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>euphoricEye0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,44}</string>
				<key>spriteSourceSize</key>
				<string>{56,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,140},{56,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>euphoricEye0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,44}</string>
				<key>spriteSourceSize</key>
				<string>{56,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{60,94},{56,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>euphoricEye0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,44}</string>
				<key>spriteSourceSize</key>
				<string>{56,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,94},{56,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>euphoricEye0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,44}</string>
				<key>spriteSourceSize</key>
				<string>{56,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,94},{56,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>euphoricEye.png</string>
				<key>textureFileName</key>
				<string>euphoricEye</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
