<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>belt00</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,150}}</string>
                <key>sourceSize</key>
                <string>{342,150}</string>
            </dict>
            <key>belt01</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{342,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,150}}</string>
                <key>sourceSize</key>
                <string>{342,150}</string>
            </dict>
            <key>belt02</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{342,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,150}}</string>
                <key>sourceSize</key>
                <string>{342,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Belt.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>Belt.png</string>
        </dict>
    </dict>
</plist>
