<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cornet0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,2},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{888,2},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1331,2},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,353},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,353},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{888,353},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1331,353},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,704},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,704},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{888,704},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1331,704},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,1055},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,1055},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cornet0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,349}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{441,349}</string>
				<key>spriteSourceSize</key>
				<string>{441,349}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{441,349}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Celebration_cornet.png</string>
				<key>textureFileName</key>
				<string>Celebration_cornet</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
