<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hourglass00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,132}</string>
                <key>spriteSourceSize</key>
                <string>{107,132}</string>
                <key>textureRect</key>
                <string>{{0,0},{107,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hourglass01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,132}</string>
                <key>spriteSourceSize</key>
                <string>{107,132}</string>
                <key>textureRect</key>
                <string>{{107,0},{107,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hourglass02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,132}</string>
                <key>spriteSourceSize</key>
                <string>{107,132}</string>
                <key>textureRect</key>
                <string>{{0,132},{107,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hourglass03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,132}</string>
                <key>spriteSourceSize</key>
                <string>{107,132}</string>
                <key>textureRect</key>
                <string>{{107,132},{107,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Hourglass.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>Hourglass.png</string>
        </dict>
    </dict>
</plist>
