<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>monster011_DELIVER0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,2},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,2},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,2},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,2},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,2},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,2},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,2},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,84},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,84},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,84},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,84},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,84},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,84},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,166},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,166},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,166},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,166},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,166},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,166},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,248},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,248},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,248},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,248},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,248},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,248},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,330},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,330},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,330},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,330},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,330},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,330},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DELIVER0039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DRAG0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DRAG0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DRAG0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,412},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DRAG0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,494},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_DRAG0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,494},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,494},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,494},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,494},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,494},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,576},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,740},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,822},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,904},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,576},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,576},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,576},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_IDLE0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,576},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,576},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,740},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,822},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,904},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,740},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,658},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,904},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,822},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{166,904},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,740},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,740},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,740},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,740},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,822},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,904},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,822},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,822},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>monster011_RELEASE0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{330,904},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Monster011.png</string>
				<key>textureFileName</key>
				<string>Monster011</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
